<div>
    <h1>Upcoming Angular Events</h1>
</div>
<div class="well hoverwell thumbnail" >
    <app-event-item #eventItem [event]="eventModel" (eventClick)="handleChildEventClicked($event)"></app-event-item>
    <br>
    <br>
    <button type="button" class="btn btn-primary" (click)="eventItem.logFooFromParent()">
        Invole Child methods from Parent
    </button>
</div>
<div>
    <h2>Events List</h2>
    <app-event-item *ngFor="let event of events" [event]="event" (eventClick)="handleChildEventClicked($event)"></app-event-item>
</div>